@model rsl_challenge.Models.DrawsList

@{
    ViewData["Title"] = "RSL Code challenge - CProsser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model !=null) {
<table class="draw-data">
    <thead>
        <tr>
            <th class="draw-image">Draw</th>
            <th class="draw-number">Number</th>
            <th class="draw-name">Name</th>
            <th class="draw-amount">Jackpot</th>
            <th class="draw-date">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var draw in Model.Draws)
        {
            var imageUrl = draw.DrawLogoUrl.Contains("http") ? "draw.DrawLogoUrl" : "../images/" + draw.DrawLogoUrl;
            
            <tr>
                <td>
                    <picture>
                        <source srcset="@imageUrl" />

                        <img src="@imageUrl" alt="@draw.ProductId" />
                    </picture>
                </td>
                <td>@draw.DrawNumber</td>
                <td>@draw.DrawDisplayName</td>
                <td>
                    @string.Format("{0:C}", draw.Div1Amount)
                </td>
                <td>@draw.DrawDate.ToString("dddd, dd MMMM")</td>
            </tr>
        }
    </tbody>
</table>
} else {
<p>It appears there are no results</p>
}
